.container {
  border: 1px solid #e1e1e1;
  width: 262px;
  min-height: 325px;
  border-radius: 4px;
  margin-top: 13px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}

.contentWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .emptyMessage {
    color: #746a6a;
    font-size: 14px;
    text-align: center;
    max-width: 200px;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
