.container {
  width: 100%;
  padding: 12px;
  user-select: none;
  cursor: pointer;
}
.wrapper {
  width: 100%;
  background-color: $primary;
  border: 1px solid $primary;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }
}

.outline {
  @extend .wrapper;
  background-color: transparent;
  span {
    color: $primary;
  }
}
